rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /counters/{document} {
      allow read, write: if true;
    }
    match /relatorios/{document} {
      allow read, write: if true;
    }
  }
}
